.nextButton {
  display: flex;
  justify-content: flex-end;
}

.nextButton button {
  background-color: var(--marine-blue);
  border: solid 1px var(--marine-blue);
  border-radius: 8px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  cursor: pointer;

  position: absolute;
  bottom: 15px;
}

.nextButton button:hover,
.nextButton button:active {
  background-color: #0d56af;
  border-color: #0d56af;
}
