.container {
  display: grid;
  grid-template-columns: 300px auto;
  width: 875px;
  height: 600px;
  padding: 0.875rem;
  border-radius: 10px;

  background-color: var(--white);
}

.container main {
  padding: 30px 50px 0 50px;
  height: 100%;
  position: relative;
}
